Repository hmcts/fis-ds-web, pull requests merged in 2024-07, with the labels that each got.

#325 Update renovate.json
  .github/renovate.json
  .nvmrc
  .yarn/install-state.gz
  .yarn/releases/yarn-3.8.1.cjs
  .yarnrc.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly_disabled
  README.md
  charts/fis-ds-web/Chart.yaml
  charts/fis-ds-web/values.yaml
  config/custom-environment-variables.yaml
  config/development.yaml
  config/docker.yaml
  config/production.yaml
  jest.config.js
  jest.smoke.config.js
  package-lock.json
  package.json
  src/main/app/address/AddressLookupPostControllerBase.ts
  src/main/app/address/SelectAddressPostControllerBase.ts
  src/main/app/auth/service/get-service-auth-token.test.ts
  src/main/app/case/case.ts
  src/main/app/case/definition.ts
  src/main/app/controller/GetController.test.ts
  src/main/app/controller/GetController.ts
  src/main/app/controller/PostController.test.ts
  src/main/app/controller/PostController.ts
  src/main/app/keepalive/KeepAliveController.test.ts
  src/main/assets/scss/main.scss
  src/main/server.ts
  src/main/steps/accessibility-statement/content.test.ts
  src/main/steps/accessibility-statement/content.ts
  src/main/steps/edge-case/address/lookup/AddressLookupPostController.ts
  src/main/steps/edge-case/address/select/SelectAddressPostController.ts
  src/main/steps/edge-case/upload-additional-documents/uploadDocPostController.test.ts
  src/main/steps/edge-case/upload-additional-documents/uploadDocPostController.ts
  src/main/steps/edge-case/upload-your-documents/uploadDocPostController.test.ts
  src/main/steps/edge-case/upload-your-documents/uploadDocPostController.ts
  src/main/steps/edge-case/user-role/UserRolePostController.test.ts
  src/main/steps/edge-case/user-role/userRolePostController.ts
  src/main/steps/error/error.controller.test.ts
  src/main/steps/error/error.controller.ts
  src/main/steps/home/get.test.ts
  src/main/steps/save-sign-out/get.ts
  src/main/steps/timed-out/get.ts
  src/test/e2e/accessibility/runner.js
  src/test/e2e/codecept.conf.js
  src/test/e2e/codecept.smoke.conf.js
  src/test/e2e/helpers/generalHelper.js
  src/test/e2e/helpers/generateReportHelper.js
  src/test/e2e/helpers/playwrightHelper.js
  src/test/e2e/helpers/puppeterHelper.js
  src/test/e2e/smoke/smoke.ts
  src/test/e2e/tests/smoke_test.js
  tsconfig.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fis, prd:fis, enable-keep-helm, rel:fis-ds-web-pr-325

#334 Redis setup for DSS create case component
  infrastructure/main.tf
Labels: aat/add-or-update

#335 fix cdecept
  src/test/e2e/codecept.conf.js
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-335

#336 Update README.md
  README.md
  charts/fis-ds-web/Chart.yaml
  charts/fis-ds-web/values.yaml
  config/custom-environment-variables.yaml
  package.json
  src/main/app/auth/service/get-service-auth-token.test.ts
  src/main/app/auth/service/get-service-auth-token.ts
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-ds-web-pr-336

#337 Updated values files
  charts/fis-ds-web/Chart.yaml
  charts/fis-ds-web/values.aat.template.yaml
  charts/fis-ds-web/values.preview.template.yaml
  charts/fis-ds-web/values.yaml
  src/main/modules/nunjucks/index.ts
  src/main/server.ts
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-ds-web-pr-337

#322 PRL-5868
  .github/renovate.json
  README.md
  config/development.yaml
  src/main/app/case/CaseApi.ts
  src/main/app/case/case.ts
  src/main/app/case/definition.ts
  src/main/app/controller/PostController.test.ts
  src/main/app/keepalive/KeepAliveController.test.ts
  src/main/assets/js/cookie.ts
  src/main/resources/check-your-answers/translation.json
  src/main/resources/type-of-application/translation.json
  src/main/steps/edge-case/type-of-application/content.test.ts
  src/main/steps/edge-case/type-of-application/content.ts
  src/main/steps/edge-case/upload-additional-documents/uploadDocPostController.ts
  src/main/steps/edge-case/upload-your-documents/uploadDocPostController.ts
  yarn.lock
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-322
