Repository hmcts/fis-ds-web, pull requests merged in 2025-03, with the labels that each got.

#374 PRL-6912: Add DT RUM scripts
  src/main/modules/helmet/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/steps/common/page.njk
  src/main/steps/common/views/includes/script-dt_rum.njk
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-ds-web-pr-374

#367 Update README.md to trigger master build pipeline
  .dockerignore
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-3.8.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  package.json
  src/test/e2e/codecept.smoke.conf.js
  src/test/tests/smoke_test.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-367

#391 Change ingressHost to fis-ds-web
  charts/fis-ds-web/Chart.yaml
  charts/fis-ds-web/values.yaml
  yarn-audit-known-issues
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-391

#386 Prl 7024 edge case screen translations
  charts/fis-ds-web/Chart.yaml
  src/main/modules/nunjucks/index.ts
  src/main/resources/address-lookup/translation.json
  src/main/resources/application-submitted/translation.json
  src/main/resources/check-your-answers/translation.json
  src/main/resources/common/translation.json
  src/main/resources/contact-details/translation.json
  src/main/resources/date-of-birth/translation.json
  src/main/resources/email-address/translation.json
  src/main/resources/fees-applied/translation.json
  src/main/resources/full-name/translation.json
  src/main/resources/landing/translation.json
  src/main/resources/manual-address/translation.json
  src/main/resources/pay-your-fee/translation.json
  src/main/resources/select-address/translation.json
  src/main/resources/statement-of-truth/translation.json
  src/main/resources/type-of-application/translation.json
  src/main/resources/upload-additional-documents/translation.json
  src/main/resources/upload-your-documents/translation.json
  src/main/steps/common/common.content.ts
  src/main/steps/common/components/address-international.test.ts
  src/main/steps/common/components/address-international.ts
  src/main/steps/common/components/address-lookup.test.ts
  src/main/steps/common/components/address-lookup.ts
  src/main/steps/common/components/address-manual.test.ts
  src/main/steps/common/components/address-manual.ts
  src/main/steps/common/components/address-select.test.ts
  src/main/steps/common/components/address-select.ts
  src/main/steps/common/components/common/component.test.ts
  src/main/steps/common/components/full-name.test.ts
  src/main/steps/common/components/full-name.ts
  src/main/steps/edge-case/check-your-answers/content.test.ts
  src/main/steps/edge-case/check-your-answers/utils.ts
  src/main/steps/errorMesages.ts
  yarn-audit-known-issues
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-386

#376 Updated welsh translations and fixing current merge conflicts. Additi…
  src/main/modules/nunjucks/index.ts
  src/main/resources/address-lookup/translation.json
  src/main/resources/application-submitted/translation.json
  src/main/resources/check-your-answers/translation.json
  src/main/resources/common/translation.json
  src/main/resources/contact-details/translation.json
  src/main/resources/cookies/translation.json
  src/main/resources/date-of-birth/translation.json
  src/main/resources/email-address/translation.json
  src/main/resources/fees-applied/translation.json
  src/main/resources/full-name/translation.json
  src/main/resources/landing/translation.json
  src/main/resources/manual-address/translation.json
  src/main/resources/pay-your-fee/translation.json
  src/main/resources/select-address/translation.json
  src/main/resources/select-court/translation.json
  src/main/resources/statement-of-truth/translation.json
  src/main/resources/type-of-application/translation.json
  src/main/resources/upload-additional-documents/translation.json
  src/main/resources/upload-your-documents/translation.json
  src/main/resources/user-role/translation.json
  src/main/steps/common/common.content.ts
  src/main/steps/common/components/address-international.test.ts
  src/main/steps/common/components/address-international.ts
  src/main/steps/common/components/address-lookup.test.ts
  src/main/steps/common/components/address-lookup.ts
  src/main/steps/common/components/address-manual.test.ts
  src/main/steps/common/components/address-manual.ts
  src/main/steps/common/components/address-select.test.ts
  src/main/steps/common/components/address-select.ts
  src/main/steps/common/components/common/component.test.ts
  src/main/steps/common/components/full-name.test.ts
  src/main/steps/common/components/full-name.ts
  src/main/steps/edge-case/address/lookup/content.test.ts
  src/main/steps/edge-case/check-your-answers/content.test.ts
  src/main/steps/edge-case/check-your-answers/utils.ts
  src/main/steps/errorMesages.ts
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-ds-web-pr-376

#394 PRL-6174
  charts/fis-ds-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  package.json
  src/main/app/case/case.ts
  src/main/modules/pcq/controller.test.ts
  src/main/modules/pcq/controller.ts
  src/main/modules/pcq/definitions.ts
  src/main/modules/pcq/index.test.ts
  src/main/modules/pcq/index.ts
  src/main/modules/pcq/routes.ts
  src/main/modules/pcq/service.test.ts
  src/main/modules/pcq/service.ts
  src/main/modules/properties-volume/index.ts
  src/main/resources/check-your-answers/translation.json
  src/main/resources/upload-your-documents/translation.json
  src/main/routes.ts
  src/main/server.ts
  src/main/steps/edge-case/pay-your-fee/PayAndSubmitPostController.test.ts
  src/main/steps/edge-case/pay-your-fee/PayAndSubmitPostController.ts
  src/main/steps/edge-case/payments/paymentController.test.ts
  src/main/steps/edge-case/payments/paymentController.ts
  src/main/steps/edge-case/statement-of-truth/routeGuard.test.ts
  src/main/steps/edge-case/statement-of-truth/routeGuard.ts
  src/main/steps/edge-case/type-of-application/routeGuard.ts
  src/main/steps/edge-case/upload/upload-your-documents/content.ts
  src/main/steps/edge-case/upload/upload-your-documents/template.njk
  src/main/steps/urls.ts
  yarn.lock
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-ds-web-pr-394

#396 Updated paymentHelper test file
  src/main/steps/edge-case/payments/paymentHelper.test.ts
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-396

#397 Improving test coverage for Case API
  src/main/app/case/CaseApi.test.ts
Labels: ns:fis, prd:fis, rel:fis-ds-web-pr-397
